<header th:fragment="header" class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="activity"></i></div>
            <span th:text="${pageTitle}">Page Title</span>
          </h1>
          <div class="page-header-subtitle" th:text="${pageSubtitle}">Page Subtitle</div>
        </div>
        <div class="col-12 col-xl-auto mt-4">
          <div class="input-group input-group-joined border-0" style="width: 16.5rem">
            <span class="input-group-text"><i class="text-primary" data-feather="calendar"></i></span>
            <input class="form-control ps-0 pointer" id="litepickerRangePlugin" placeholder="Select date range..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>