<li th:fragment="user" class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
  <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="img-fluid" th:src="@{/assets/img/illustrations/profiles/profile-1.png}" />
  </a>
  <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
    <h6 class="dropdown-header d-flex align-items-center">
      <img class="dropdown-user-img" th:src="@{/assets/img/illustrations/profiles/profile-1.png}" />
      <div class="dropdown-user-details">
        <div class="dropdown-user-details-name">관리자</div>
        <div class="dropdown-user-details-email">admin@example.com</div>
      </div>
    </h6>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#!">
      <div class="dropdown-item-icon"><i data-feather="user"></i></div>
      프로필
    </a>
    <a class="dropdown-item" href="#!">
      <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
      설정
    </a>
    <a class="dropdown-item" href="#!">
      <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
      로그아웃
    </a>
  </div>
</li>